/***** Default Styles *****/
:root {
  --dim-padding-page: 8px;
}

* {
  font-family: "Lato", "Verdana", "Avenir Next", sans-serif;
}
* :focus {
  /* Restore default focus outline */
  outline: revert;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color: hsl(218, 15%, 93%);
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Tags sorted alphabetically */
a {
  cursor: pointer;
}

b {
  font-weight: bold;
}

button {
  cursor: pointer;
}

em {
  font-style: italic;
}

figure {
  margin-block: 1rem;
}

h1 {
  margin: 0.67rem 0;
  font-weight: 900;
  font-size: 2rem;
}

h2 {
  margin: 0.83rem 0;
  font-weight: bold;
  font-size: 1.5rem;
}

h3 {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.17rem;
}

h4 {
  margin: 1.33rem 0;
  font-weight: bold;
  font-size: 1rem;
}

li {
  display: list-item;
}
li + li {
  margin-top: 0.5rem;
}

ol {
  margin: 1rem 0;
  padding-inline-start: 24px;
  list-style-type: decimal;
}

p {
  margin: 0.8rem 0;
}

u {
  text-decoration: underline;
}

ul {
  margin: 1rem 0;
  padding-inline-start: 24px;
  list-style-type: disc;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  /* Replace gifs with static placeholder image */
  img[src$=".gif"] {
    content: url("../images/reduced-motion.jpg");
  }
}
/***** Utility classes *****/
.img-blur-decor {
  /* Zoom in to cover blurred edges */
  transform: scale(1.5);
  filter: blur(16px);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.long-text__content > *:first-child,
.long-text > *:first-child {
  margin-top: 0;
}
.long-text__content > *:last-child,
.long-text > *:last-child {
  margin-bottom: 0;
}

/***** Major layout styles *****/
#skip-to-main {
  position: absolute;
  top: -1000px;
  left: -1000px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip-to-main:focus {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  overflow: visible;
}

#nav {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: flex-end;
  z-index: 100;
  margin-bottom: 4px;
  width: 100%;
  height: 0;
  overflow: visible;
  pointer-events: none;
}

#header {
  background-color: hsl(219, 30%, 89%);
  padding: var(--dim-padding-page);
  padding-bottom: 0;
  overflow: hidden;
}
#header.l-full-pad {
  padding: var(--dim-padding-page);
}

/* Add padding to offset nav height */
#main-content {
  padding-bottom: 64px;
}

/***** Dropup *****/
.dropup {
  display: grid;
  position: relative;
  align-items: end;
  justify-items: center;
  overflow: visible;
  pointer-events: none;
}

.dropup__btn {
  display: inline-flex;
  position: relative;
  grid-area: 1/1;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  z-index: 100;
  box-shadow: 0 2px 8px 0 hsl(0, 0%, 30%);
  border-radius: 8px;
  background: hsl(221, 51%, 30%);
  padding-inline: 16px;
  min-width: 160px;
  height: 48px;
  pointer-events: all;
  color: hsl(0, 0%, 98%);
  font-weight: bold;
  text-align: center;
}

.dropup__btn__txt-icon {
  margin-right: 0.4rem;
}

.dropup__list-container {
  position: relative;
  grid-area: 1/1;
  visibility: hidden;
  margin-bottom: 24px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.dropup__list {
  position: absolute;
  top: calc(100% - 24px);
  left: 4px;
  transform: translateY(0);
  margin: 0;
  box-shadow: 0 0 3px 0 hsl(0, 0%, 30%);
  border-radius: 8px 8px 0 0;
  background: hsl(220, 34%, 87%);
  padding: 8px 0 48px;
  width: calc(100% - 8px);
  overflow: auto;
  pointer-events: none;
  color: hsl(0, 0%, 8%);
  list-style: none;
}
.dropup__list > li {
  position: relative;
  white-space: nowrap;
}
.dropup__list > li + li {
  margin: 0;
}

/* Add a colored rectangle to the left of the selected item */
.dropup__list__item--selected::after {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(37, 98%, 44%);
  width: 4px;
  height: 100%;
  content: "";
}

.dropup__list__action {
  display: flex;
  align-items: center;
  padding: 8px 32px 8px 24px;
  width: 100%;
  min-height: 48px;
}
.dropup__list__action > i {
  width: 1.5rem;
}

/***** State *****/
.dropup--open .dropup__btn__icon {
  transform: rotate(180deg);
}
.dropup--open .dropup__list-container {
  visibility: visible;
}
.dropup--open .dropup__list {
  transform: translateY(calc(-100% + 48px));
  pointer-events: all;
}

.dropup__list > li:hover,
.dropup__list > li:active,
.dropup__list > li:focus-within {
  background-color: #b7c3dc;
}

.dropup__list__item--selected {
  font-weight: bold;
}

.dropup__list__action:focus {
  outline: none;
}

/**** Media queries ****/
@media (prefers-reduced-motion: no-preference) {
  .dropup__btn__icon,
  .dropup__list {
    transition: transform 0.3s ease-in-out;
  }
  .dropup__list-container {
    transition: visibility 0.3s;
  }
  .dropup--open .dropup__list-container {
    transition: none;
  }
}
/***** Home Grid *****/
.home-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
  grid-auto-rows: 200px;
  gap: 1px;
  width: 100%;
}

.home-grid__item {
  overflow: hidden;
}

.home-grid__figure {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
}
.home-grid__figure .img-blur-decor {
  position: absolute;
  z-index: 1;
  inset: 0;
}
.home-grid__figure > figcaption {
  position: absolute;
  bottom: 0;
  z-index: 3;
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(20, 20, 20, 0.6),
    rgba(20, 20, 20, 0.9)
  );
  padding: 16px 8px 8px 8px;
  width: 100%;
  color: hsl(0, 0%, 98%);
}

.home-grid__img-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home-grid__img-container > img {
  z-index: 2;
  min-width: 70%;
  -o-object-fit: cover;
  object-fit: cover;
}

/**** States ****/
.home-grid__item:hover,
.home-grid__item:focus {
  outline: none;
}
.home-grid__item:hover .home-grid__img-container img,
.home-grid__item:focus .home-grid__img-container img {
  filter: brightness(0.7);
}

/**** Media Queries ****/
@media (min-width: 400px) {
  .home-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
@media (prefers-reduced-motion: no-preference) {
  /* Animate grid item hover */
  .home-grid__figure:hover .home-grid__img-container > img,
  .home-grid__figure:active .home-grid__img-container > img,
  .home-grid__figure:focus .home-grid__img-container > img {
    transform: scale(1.1);
  }
  .home-grid__figure .home-grid__img-container > img {
    transform: scale(1);
    transition:
      filter 0.3s ease-in-out,
      transform 0.3s ease-in-out;
  }
}
.hero {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  min-height: 232px;
  max-height: 400px;
  overflow: hidden;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
}

.hero__img {
  z-index: 1;
  -o-object-fit: contain;
  object-fit: contain;
}

.hero__txt {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  margin: 0;
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(20, 20, 20, 0.9)
  );
  padding: 40px calc(2 * var(--dim-padding-page))
    calc(2 * var(--dim-padding-page));
  width: 100%;
  color: hsl(0, 0%, 98%);
}

.hero__txt--hidden {
  opacity: 0;
}

.hero__btn {
  position: absolute;
  z-index: 3;
  inset: 0;
}

/**** Media queries ****/
@media (prefers-reduced-motion: no-preference) {
  .hero__txt {
    transition: opacity 0.2s ease-in-out;
  }
}
/* Smaller modules can be include directly */
.link {
  color: hsl(221, 51%, 30%);
  text-decoration: underline;
}

.article {
  padding: var(--dim-padding-page);
}

.img {
  border-radius: 16px;
  width: 100%;
}

.img--thin-h {
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.constrained-img {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch;
  margin-block: 16px;
  border-radius: 16px;
  background-color: hsl(219, 30%, 89%);
  width: 100%;
  max-height: 408px;
  overflow: hidden;
}

.constrained-img__bg {
  position: absolute;
  z-index: 0;
  inset: 0;
}

.constrained-img__img {
  z-index: 1;
  width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

/**** Long Text ****/
.long-text {
  position: relative;
  margin: 0.8rem 0;
  border-radius: 16px;
  background: hsl(219, 30%, 89%);
  padding: 16px;
}

.long-text--expandable {
  overflow: hidden;
}
.long-text--expandable::after {
  position: absolute;
  inset: auto 0 0;
  background: linear-gradient(transparent, hsl(219, 30%, 89%));
  height: 64px;
  content: "";
}
.long-text--expandable.long-text--expanded::after {
  height: 0;
}

.long-text__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border-radius: 32px;
  background-color: hsl(221, 51%, 30%);
  width: 4px;
  height: calc(100% - 24px);
}
.long-text__btn:hover,
.long-text__btn:active {
  background-color: #385dad;
}

.long-text__content {
  margin-left: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .long-text__btn {
    transition-duration: 0.5s;
    transition-property: transform, height, top;
    transition-timing-function: ease-in-out;
  }
  .long-text {
    transition: height 0.5s ease-in-out;
  }
  .long-text::after {
    transition: height 0.5s ease-in-out;
  }
}
/**** Captioned Image ****/
.captioned-img {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 0.8rem 0;
  border-radius: 16px;
  background: hsl(219, 30%, 89%);
  overflow: hidden;
}

.captioned-img__img-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch;
  min-height: 96px;
  max-height: 408px;
  overflow: hidden;
}

.captioned-img__bg {
  position: absolute;
  z-index: 0;
  inset: 0;
}

.captioned-img__img {
  z-index: 1;
  -o-object-fit: contain;
  object-fit: contain;
}

.captioned-img__caption {
  background-color: hsl(219, 30%, 89%);
  padding: 16px;
  width: 100%;
}
